.full-height {
  min-height: calc(100vh - 56px);
}

.flex-card {
  width: 20%;
  height: 15%;
}

.shapes-row {
  height: calc(50vh - 56px);
}

.shape-container {
  width: 40%;
  height: 50%;
}

.shape {
  height: 100%;
  width: 100%;
}

.shape-name {
  font-size: 3vw;
}

.unstyled-link {
  text-decoration: none;
  color: black;
}

.unstyled-link:hover {
  text-decoration: none;
  color: black;
}

.intro-shape {
  width: 20%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.intro-selected-shape {
  border: 1px solid black;
}
